.App {
  text-align: center;
}
.header-div {
  margin: 2% auto;
  width: 100%;
  letter-spacing: 6%;
}
h1 {
  letter-spacing: 3px;
  font-size: 45px;
}
.result-card {
  width: 20%;
  display: inline-block;
  border: lightgrey solid 0.1px;
  vertical-align: top;
  padding: 20px;
  border-radius: 5px;
  margin: 2.5%;
  box-shadow: lightgrey 1px 1px 1px 1px;
}

.display {
  width: 90%;
  margin: auto;
}

.input-box {
  width: 60%;
  margin: 40px auto;
  text-align: center;
  height: 50px;
}
.button {
  display: inline-block;
  height: 100%;
  width: 6%;
  vertical-align: top;
  padding-left: 0.1%;
}
.input {
  display: inline-block;
  width: 70%;
  height: 100%;
}
.form-control,
.btn-primary {
  height: 100%;
}
.btn-primary {
  width: 99%;
  font-size: 100%;
}
.fa-search {
  font-size: 100%;
}
.image {
  float: left;
  width: 18%;
  text-align: center;
}
img {
  border-radius: 50%;
  width: 100%;
  border: 4px solid #ddd;
  opacity: 0.9;
  background-size: contain;
  background-image: url("https://s.yimg.com/pw/images/buddyicon08_r.png#552768@N23");
}
img:hover {
  box-shadow: 2px 2px 5px 0px rgb(92, 92, 92);
  transition: 0.5s;
  opacity: 1;
}
.result-name {
  overflow: scroll;
  height: 20px;
}
.group-name {
  font-weight: bold;
}
.member-count {
  float: left;
}
.result-numbers {
  text-align: center;
  width: 70%;
  float: right;
  padding: 10px;
  overflow: scroll;
  height: 29px;
}
.pool-count {
  display: inline-block;
}
.comment-count {
  float: right;
}
.fa,
.fas {
  margin: 4px;
}
.next-page-div {
  width: 100%;
  display: inline-block;
}
.prev-btn {
  width: 10%;
  float: left;
  margin-left: 7.3%;
}
.next-btn {
  width: 10%;
  float: right;
  margin-right: 7.3%;
}
